@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

:root {
     --color-primary: #D90368;
     --color-secondary: #addee2;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: rgb(70, 70, 70);
}

[v-cloak] {
     display: none;
}

body {
     background-color: #1A1A1A;
}
header {
     border-bottom: 5px solid rgba(65,184,131,1);
}

#navLogo {
     height: 2rem;
}

#headerLogo {
     height: 4rem;
}

.accent {
     color: #26ac70;
     font-weight: bolder;
}

main {
     width: 90%;
     min-height: 75vh;
}

h1 {
     font-family: 'Kalam', cursive;
     font-size: 2rem;
}

#contenedorCheckboxs {
     background-color: #5c5c5c;
     border-bottom: 2px solid #42D392;
}

.checkbox{
     width: 6rem;
}

.btn-search{
     color: #26ac70;
     border: 2px solid #26ac70;
}

.top3{
     width: calc(50% - 5px);
     margin-right: 5px;
}

.top6{
     width: calc(50% - 5px);
     margin-left: 5px;
}

#contenedorCards {
     background-color: rgba(165, 165, 165, 0.09);
}

.card-container{
     transition: all 0.2s ease-in-out;
}

.card-container:hover{
     transform: scale(1.02);
}

.mainCards{
     width: 18rem;
     position: relative;
}

.star{
     height: 32px;
     width:32px;
     background-image: url(./assets/star.png);
     position: absolute;
     bottom: 20px;
     right: 20px;
     border: none;
     background-color: unset;
}

.star:hover{
     background-image: url(./assets/fill-star.png);
}

.starSelected{
     background-image: url(./assets/fill-star.png);
     position: absolute;
     bottom: 20px;
     right: 20px;
     border: none;
     background-color: unset;
}

.image-card{
     height: 12rem;
     object-fit:cover;
     border-bottom: 2px solid rgba(65,184,131,1);
}

.category {
     color:  rgba(100,126,254,1);
}

.date {
     color: rgba(100,126,254,1);
}

.btn-primary {
     border: none;
     background-color:  rgba(65,184,131,1) !important;
     transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
     background-color: #D90368 !important;
     box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.446);
}

#detailCardImage{
     max-width: 100%;
     height: 100%;
     object-fit:cover;
}

#cardTitleH3 {
     color: #26ac70;
}

.normal-card{
     background: rgb(222, 222, 222);
     background: linear-gradient(320deg, rgba(65,184,131,1) 0%, rgba(65, 184, 131, 0.179) 13%, rgba(73, 73, 73, 0.091) 100%);
}


.related-card{
     background: rgb(131,131,131);
     background: linear-gradient(356deg, rgba(131,131,131,0.2819502801120448) 0%, rgba(245,254,255,0.41360294117647056) 52%);
}

:placeholder-shown {
     font-size: small;
     color: darkgrey;
     font-style: italic;
}

.tableHeaders{
     background-color: blueviolet !important;
}

footer {
     width: 100%;
     height: 10vh;
     background-color: gainsboro;
}